{% extends 'base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div class='container-fluid'>
  <div class="row text-center">
  <div class='col-md-4'>
    <a href="https://via.placeholder.com/150"><img src="https://via.placeholder.com/150" /></a>
    <p>
      Column for content
      </p>
      <a class="btn btn-primary" href="{% url 'guide' %}">Get the Guides</a>
    </div>
  <div class='col-md-4'>

    <a href="https://via.placeholder.com/150"><img src="https://via.placeholder.com/150" /></a>
    <p>
      Column for content
      </p>
    </div>
  <div class='col-md-4'>
    <a href="https://via.placeholder.com/150"><img src="https://via.placeholder.com/150" /></a>
    <p>
      Column for content
      </p>
    </div>
  </div>
</div>
{% endblock %}
